<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<title>营销系统</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div id="content">
		<style type="text/css">
		    label{font-weight:bold !important}
		    hr{border-top:2px dotted #ccc}
		    .shop .form-control,.form-control{
		    	width:85%;
		    	display:inline-block;
		     }
		     .form-textarea{
		     	min-height: 150px;
		     }
		     .error{
		     	color: #a9442;
		     }
		     li{
		     	list-style: none;
		     }
		</style>
		<div class="container ng-scope" ng-app="shop" ng-block ng-controller="ShopController">
			<div style="border-bottom:1px dotted #ccc;margin-left:15px;margin-bottom:15px;padding:10px;font-size:18px;">创建商家</div>
			<div class="form-horizontal">
				<!--创建商家start-->
				<section>
					<ng-form name="shopForm" class="shop ng-pristine ng-invalid-required ng-valid-maxlength">
					<div class="form-group">
						<label for="is_yc" class="col-sm-2 control-label">选择商家类型</label>
						<div class="col-sm-3">
							<select id="is_yc" name="is_yc" nd-modle="shop.is_yc"class="form-control btn btn-info ng-pristine ng-untouched ng-valid" title="商家类型" >
							   <option value="0" ng-selected="shop.is_yc==0" selected="selected">第三方商家</option>
							   <option value="1" ng-selected="shop.is_yc==1">易到</option>
						    </select>
						    <!--<span class="error">*</span>-->
						    <label style="color:red">*</label>

						</div>
					</div>
					<div class="form-group">
						<!--class="form-group"用于div，表单样式的类-->
						<!--col-sm-2指占2列  不加control-label是左对齐，加后右对齐-->
						<label for="name" class="col-sm-2 control-label">商家名称</label>
						<div class="col-sm-4">
							<input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required " id="name" name="name" date-label="商家名称" ng-model="shop.name" required maxlength="30">
							<!--<span class="error">*</span>-->
							<label style="color:red">*</label>
						</div>
					</div>
					<div class="form-group">
						<label for="cellphone" class="col-sm-2 control-label ">商家联系电话</label>
						<div class="col-sm-4">
							<input type="text" class="  form-control ng-pristine ng-untouched ng-invalid ng-invalid-required " id="cellphone" name="cellphone" date-label="商家联系电话" ng-model="shop.cellphone" required>
							<!--<span class="error">*</span>-->
							<label style="color:red">*</label>
						</div>
					</div>
                    <div class="form-group">
                    	<label for="email" class="col-sm-2 control-label">商家邮箱地址</label>
                    	<div class="col-sm-4 ">
                    		<input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required " id="email" name="email" date-label="商家邮箱地址" ng-model="shop.mail">
                    	</div>
                    </div>
                    <div class="form-group">
                    	<label for="website" class="col-sm-2 control-label">商家网址</label>
                    	<div class="col-sm-7">
                    		<input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="website" name="website" date-label="商家网址" ng-model="shop.website">
                    	</div>
                    </div>
                    <div class="form-group">
                    	<label  for="adress" class="col-sm-2 control-label">商家地址</label>
                    	<div class="col-sm-7">
                    		<input type="text" class="form-control ng-pristine ng-untouch ng-invalid ng-invalid-required" id="adress" name="adress" date-label="商家地址" ng-model="shop.adress">
                    		<!--<span class="error">*</span>-->
                    		<label style="color:red">*</label>
                    	</div>
                    </div>
                    <div class="form-group">
                    	<label for="picture" class="col-sm-2 control-label">商家封面图</label>
                    	<div class="col-sm-4">
                    		<input type="hidden" value id="picture" name="picture" ng-model="shop.picture" class="ng-pristine ng-untouched ng-valid">
                    		<input type="file" id="upfile" name="upfile" accept="image/png/,image/gif,image/jpg,image/jpeg">
                    	</div>
                    	<div class="col-sm-3">
                    		<button ng-click="FileUpLoad()">上传</button>
                    	</div>
                    </div>
                    <div class="form-group">
                    	<label for="introduction" class="col-sm-2 control-label">商家介绍</label>
                    	<div class="col-sm-7">
                    		<input type="textarea" class="form-control  form-textarea ng-pristine ng-untouched ng-invalid" id="introduction" name="introduction">
                    	</div>
                    </div>
                    </ng-form>
				</section>
				<!--创建商家end-->
				<div class="form-group text-center">
					<button type="submit" class="btn btn-success"ng-click="shopFormSubmit()">提交</button>
				</div>
			</div>
		</div>

	</div>	 
</body>
</html>